@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  background-color: #000;
  margin: 0;
  box-sizing: border-box;
}

.animate {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  height: 650px;
}

.avatar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 27%;
  left: 27%;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  overflow: hidden;
}

.mobile-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
}

.mobile-avatar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 27%;
  left: 27%;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
}

canvas {
  display: block;
}